* {box-sizing: border-box;}
body {background-color:#500001;
	 
	font-family: Arial, helvetica ;}
header { background-color:#872d20;color: #FFFFFF; }
nav {float: left; width: 250px;
	padding-left: 20px;  padding-top: 20px;
	padding-bottom: 5px; font-weight:bold; }
nav ul { list-style-type: none; margin: 0px; 
	padding-left: 0px; font-size: 1.2em;}
nav a {text-decoration: none;}
nav a:link {color: #51002a; }
nav a:visited{color: #344873;}
nav a:hover{color: #FFFFFF }
h2 {color: #800000}

h1 {margin-bottom: 0;;
	font-family: Georgia, Times New Roman ;
	 padding:10px;
	}

#wrapper  {margin: auto;width:80%; 
	background-color: #fb9f6e;
	min-width:960px; } 
p {color:#51002a;font-family: Georgia, Times New Roman;  }

#content img {float: left; padding-top : 30px; padding-right: 35px }
#contact{font-size: 90%}
footer {padding: 20px; font-size:75%; color: #FFFFFF;
	background-color: #872d20;font-family:Georgia,Times New Roman,Times;
	font-style: italic}
.sublink {
	font-size: 15px;
	
}
