body {background-color: black}


.box {
	background-color: black;
	width: 200px; 
	height: 50px;
	border: 1px solid white;float: left;
	margin: 20px 5px 30px 26px;
}

h1{ 
	left: 35px;
	top: 5px;
	font-size: 15px;
	color: white;
	position: relative;
}
a {color:yellow;}

#lineb {
	width: 100%;
	height: 1px;
	background-color: black; clear: left;
	margin-top: 30px}





#line {
	width: 100%;
	height: 3px;
	background-color: white; clear: left;
	margin-top: 30px}

p {
	color: white;
	font-size: 20px;

}

.story {
	background-color: white;
	color: black; 
	width: 500px;
	height: 200px;
	display: block;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 30%

}


#white {
	color: white;
	font-size: 20px;
}



/*links*/
a:visited {color: white}
a {text-decoration: none; }
a:hover {color:gray;}

.box:hover{background-color: gray; color:gray; }



/*3*/
span {
	display: block;
	background-color: white;
	color: black
}
.star {text}

h2 {color: white; font-family: Source Sans Pro; font-size: 25px; line-height: 150%}

.textbox2 {background-color: #fff; padding: 20px;margin-left: 20px; margin-right: 20px;  }
.textbox {width: 60%;margin-left: 23px }



.padding {
	padding: 30px;
}
/*testing*/
 #HCB_comment_box #hcb_form_content,
  #HCB_comment_box #hcb_form_email, 
  #HCB_comment_box #hcb_form_name, 
  #HCB_comment_box #hcb_form_website {
    background-color:#c3c3c3;



